body{
    background-color: rgb(154, 174, 194);
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 200px;
    grid-template-areas: 
    "c c c e e e e e e c c c";
}
h2 {
    grid-area:cec
}

.items {
    grid-area: c;
}

a{
    text-decoration: none;
}
