.title{
    color: rgb(100, 17, 17);
    text-align: center;
}
.item1{
    border: 5px solid grey;
    display: flex;
    flex-wrap: grid;
    margin: 40px;   
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 300px;
    
}
#items {
  
    
   
    
}
a{
    text-decoration: none;
    
   
}





