.container{
    background-color: rgb(224, 140, 14);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;    
}

.image{
    height: 200px;
    width: 100px;
    

}