body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(131, 138, 143);
    width: 100vw;
    align-items: center;
    
}
.form{
    
    width: 50%;
    

}


