{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/home.css' %}" type="text/css">
    <title>Photo Gallery</title>
</head>
<body>
    <h1>Home Page</h1>
    
    <div class="container">
        <h2 style="text-align: center;">Categories</h2>
        {% for category in categories%}
        <div class="categories">
            <p class = 'items'><a style="text-decoration: none;" href = "photos/{{category.id}}/">{{category.name}}</a></p>
        </div>
        {%endfor%}

    </div>
    <a href="/create_category">
        Create category</a>
        or <br>Choose a category
    </h3>


    

</body>
</html>