{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/home.css' %}" type="text/css">
    <title>Photo Gallery</title>
</head>
<body>
    <header></header>
    
        
   
    <section class="container"> 
            <h1 class="title">Categories</h1>
            <div class="item" id="one"><a href="photos/{{all_pictures}}" id="all">All</a></div>
            <div class="item1," id="photos">
                {% for category in categories%}
                    <a href = "photos/{{category.id}}/" id = 'items'>{{category.name}}</a>
                    {%endfor%}
            </div>
            <div class="item" id="last">
                <a href="/create_category">
                    Create category</a>
                
                or <br> 
                
                <a href="/userform">Add Photo</a>
            </div>
    </section>



    

</body>
</html>